
* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

body.blue {
    background-color: rgb(26, 100, 122);
}

body.dark {
    background-color: rgb(35, 35, 36);
}

.main-container {
    margin: 0 auto;
	display: flex;
	justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: calc(100vh - 40px);
    padding: 0 10px;
}

.controls-container {
    display: flex;
    flex-direction: column;
}

.theme-btns {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.theme-btn {
    width: 120px;
    height: 25px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    color: black;
    background: #afd8f0;
    margin: 2px 0;
}

.player-monitor {
    display: flex;
    flex-direction: column;
    list-style: none; 
}

.game-btns {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.game-btn {
    width: 120px;
    height: 25px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    color: black;
    background: #afd8f0;
    margin: 2px 0;
}

.player {
    width: 115px;
    height: 25px;
    margin-top: 67px;
    margin-bottom: 7px;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}

#square {
    width: 116px; 
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 7px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: rgb(56, 56, 56);
    background-color: rgb(240, 240, 240);
}

.new-game {
    height: 50px;
    margin-bottom: 5px;
}

.new-player {
    height: 50px;
    margin-bottom: 65px; 
}

.cards-container {
	display: grid;
	grid-template-columns: repeat(4, 120px);
	grid-auto-rows: 120px;
    justify-content: center;
    align-content: center;
	grid-gap: 2px; 
    perspective: 1000px;
}

.cards-container-extended  {
    grid-template-columns: repeat(5, 120px);
}

.text-complit {
    position: absolute;
    top: -55px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: rgb(250, 53, 27);
}

.card {
    display: flex;
    align-items:center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 7px;
    background-color: rgb(236, 161, 41);
    cursor: pointer;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.normal-level {
    display: none;
}

.hard-level{
    display: none;
}

.card.reset-color {
    background-color: rgb(148, 131, 83);
}

.card:hover {
    transform: scale(0.98);
    box-shadow: 0px 1px 7px 3px rgb(61, 94, 107);
}

.card:active {
    box-shadow: 0px 2px 10px 5px silver;
}

.card.card-rotate {
    transform: rotateY(180deg);
}
.card.template-no-rotate {
    transition: transform 0.0s;
}

.card-back,
.card-face  {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

.card-back {
    padding: 7px;
    background: inherit;
}

.card-rotate .card-back {
    backface-visibility: hidden;
}

.score-tables {
    display: flex;
    flex-direction: column;
}

.scores-table {
    list-style-type: decimal-leading-zero;
    font-weight: 600;
    color: rgb(56, 56, 56);
}
.scores-table.blue, .dark {
    color: rgb(212, 212, 212);
}

.score-titles {
    padding: 5px 0;
    margin-left: -25px;
    color: rgb(56, 56, 56);
}

.score-titles.blue, .dark {
    color: rgb(212, 212, 212);
}

.erase-high {
    margin: 10px 0;
    margin-left: -25px;
    background-color: #afd8f0;
}

.erase-last {
    margin: 10px 0;
    margin-left: -25px;
    background-color: #afd8f0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 15px auto 0;
    background-color: rgb(214, 214, 214);
    opacity: 0.7;
}

.footer-items {
    display: flex;
    align-items: center; 
}

.footer-item {
    margin: 0;
    padding-left: 5px;
    font-family: natuve;
    font-size: 16px;
    font-weight: 700;
}

.gh-logo {
    width: 75px;
    height: 25px;
    background-image: url('./assets/svg/GitHub_Logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
    transition: 0.3s;
}

.rss-logo {
    width: 75px;
    height: 25px;
    background-image: url("./assets/svg/rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
}

